.navbar {
  background: black;
  font-family: 'Cutive Mono', monospace;
  color: white;
}

.link {
font-family: 'Cutive Mono', monospace;
color: #000000;
font-size-adjust: 20px;
}

a:link, a:visited {
    background-color: #fcfcf9;
    color: black;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;

}

div.completehealth {
  color: #000000;
  font-family: 'Cutive Mono', monospace;
  font background: #f7f7f7;
  padding: 100px;
  background-color: #000000;
  float: left;
  padding-bottom: 80px;
}

div.differenthistory {
  color: #000000;
  font-family: 'Cutive Mono', monospace;
  font background: #f7f7f7;
  padding: 100px;
  background-color: #000000;
  float: center;
  padding-right: 20px;
  padding-top: 100px;

}

div.getreal {
  color: #000000;
  font-family: 'Cutive Mono', monospace;
  font background: #f7f7f7;
  background-color: #000000;
  float: right;
  padding-right: 200px;

}

div.metalbeasts {
  color: #000000;
  font-family: 'Cutive Mono', monospace;
  font background: #f7f7f7;
  padding-top: 100px;
  background-color: #000000;
  float: left;

}


div.smooth {
  color: #000000;
  font-family: 'Cutive Mono', monospace;
  font background: #f7f7f7;
  padding: 100px;
  padding-right: 30px;
  background-color: #000000;
  float: center;

}


div.optimalcontact {
  color: #000000;
  font-family: 'Cutive Mono', monospace;
  font background: #f7f7f7;
  background-color: #000000;
  float: center;
  padding-left: 300px;
}


div.obviouslylemonade {
   color: #000000;
  font-family: 'Cutive Mono', monospace;
  font background: #f7f7f7;
  background-color: #000000;
  float: center;
  padding-left: 600px;
}

div.tropicalhangover {
   color: #000000;
  font-family: 'Cutive Mono', monospace;
  font background: #f7f7f7;
  background-color: #000000;
  float: center;
  padding-left: 150px;
  padding-bottom: 10px;
}

.tag {
	background-color: black;
	color: white;
	font-family: sans-serif;
  width: 100px;
  height: 50px;
  position: relative;
}

.animate {
  width: 100px;
  height: 50px;
  position: absolute;
}


  #popup {
    height: 240px;
    width: 480px;
    position: fixed;
    bottom: 30%;
    right: 30%;
    background-color: #000000;
    font-family: 'Cutive Mono', monospace;
    color: black;
    padding: 10px;
    border-style: solid;
    border-color: white;
    text-align: center;
  }

  #close {
    right: 5;
    top: 5;
    float: right;
    color: white;
    background-color: #000000;
  }

