.navbar {
  background: black;
  font-family: 'Graduate', cursive;
  color: white;
}

.body {
  background-color: black;
  font-family: 'Graduate', cursive;
  font-size: 60px;
  color: white;
  text-align: center;
}