.navbar {
  background: black;
  font-family: 'Cutive Mono', monospace;
  color: white;
}

.link {
font-family: 'Cutive Mono', monospace;
color: #000000;
font-size-adjust: 20px;
}

a:link, a:visited {
    background-color: #fcfcf9;
    color: black;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}


.optimalcontact {
  color: #000000;
  font-family: 'Cutive Mono', monospace;
  font background: #f7f7f7;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000000;


}

.getreal {
  color: #000000;
  font-family: 'Cutive Mono', monospace;
  font background: #f7f7f7;
  padding-right: 200px; 
  padding: 100px;
  padding-right: 50px;
  padding-left: 80px;
  background-color: #000000;

}

.smooth {
  color: #000000;
  font-family: 'Cutive Mono', monospace;
  font background: #f7f7f7;
  padding: 100px;
  background-color: #000000;

}

#red:hover {
	background: linear-gradient(to right, red , orange);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#orange:hover {
	background: linear-gradient(to right, orange , yellow);
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#yellow:hover {
	background: linear-gradient(to right, yellow , green);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.tag {
	background-color: black;
	color: white;
	font-family: sans-serif;
  width: 100px;
  height: 50px;
  position: relative;
}

.animate {
  width: 100px;
  height: 50px;
  position: absolute;
}

.btn-red {
  background-color: red;
}

.span {
    display: inline-block;
    width: 50%;
    float: center;
  }

  #popup {
    height: 240px;
    width: 480px;
    position: fixed;
    bottom: 30%;
    right: 30%;
    background-color: #000000;
    font-family: 'Cutive Mono', monospace;
    color: black;
    padding: 10px;
    border-style: solid;
    border-color: white;
    text-align: center;
  }

  #close {
    right: 5;
    top: 5;
    float: right;
    color: white;
    background-color: #000000;
  }

