body {
	background-color: #efe6ec;
	
}

.cactus {
	padding-top:400px;
}

.fur {
	padding-top:100px;
}

.purr {
	padding-top:100px;
}

.softcoercion {
	padding-top:180px;
	color:	 #4d0026;
}

.sign {
	position: relative;
	margin-left:300px;
	padding-top:130px;
}

.navbar {
  background: #efe6ec;
  font-family: 'Graduate', cursive;
  color: black;
  padding-top:-20px;
}